$main-color: #005183;
$secondary-color: #CCAA11;
$oder-color: bluelight;

body, h1, p, span, a, li{
	color: $main-color;
}

h1{
	text-decoration-line: underline;
	text-decoration-style: solid;
	text-decoration-color: $secondary-color;
	background-color: $oder-color;
}